repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace
          - id: mixed-line-ending
          - id: end-of-file-fixer
    - repo: https://github.com/pre-commit/mirrors-clang-format
      rev: v13.0.1
      hooks:
          - id: clang-format
