[Info]
#Klee-stats Information
#Lists must be seperated using ', '
#To use a python tuple, do not seperate with a space, use ',' instead of ', '
Version: 1

[Input]
#Renaming of expected variables in data row
Record: I, BFull, BPart, BTot, T, St, Mem, QTot, QCon,\
        _, Treal, SCov, SUnc, _, Ts, Tcex, Tf, Tr

[Groups]
#Grouping variables for use in calculations
time: T, Ts, Tcex, Tf, Tr

[Calculations]
#Calculations based on groups, group mapping must be delimited by '-'

pre: Mem = Mem / 1024 / 1024, AvgQC = int(QCon / max(1,QTot))

cov: cov = 100 * SCov / (SCov + SUnc), bcov = 100 * (2 * BFull + BPart) / (2 * BTot), icount = SCov + SUnc

Reltime: >pre, rel@time = 100 * time / Treal
All: >pre, >cov, >reltime
More: >pre, >cov, >reltime
Default: >pre, >cov, >reltime

[Aggregates]
#Aggregate calculations
mem: memValues = getColumnValues("Mem",records), maxMem = max(memValues) / 1024 / 1024, avgMem = sum(memValues) / len(memValues) / 1024 / 1024

state: stateValues = getColumnValues("St",records), maxStates = max(stateValues), avgStates = sum(stateValues) / len(stateValues)

#Used during calculations section, output tuple of aggregate section
Stats: maxMem, avgMem, maxStates, avgStates


[Output]
#Formatting of output
All: (I, Treal, cov, bcov, icount,
               rel_Ts, St, maxStates, avgStates,
               Mem, maxMem, avgMem, QTot, AvgQC,
               rel_Tcex, rel_Tf)

Reltime: (Treal, rel@T, rel_Ts, rel_Tcex, rel_Tf, rel_Tr)

Abstime: (Treal, T, Ts, Tcex, Tf, Tr)

More: (I, Treal, cov, bcov, icount,
               rel_Ts, St, maxStates, Mem, maxMem)
Default: (I, Treal, cov, bcov, icount, rel_Ts)

[Labels]
#Labels for corresponding output row
All_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)', 'BCov(%)', 'ICount',
                  'TSolver(%)', 'States', 'maxStates', 'avgStates', 'Mem(MB)',
                  'maxMem(MB)', 'avgMem(MB)', 'Queries', 'AvgQC', 'Tcex(%)',
                  'Tfork(%)')

Reltime_labels: ('Path', 'Time(s)', 'TUser(%)', 'TSolver(%)',
                  'Tcex(%)', 'Tfork(%)', 'TResolve(%)')

Abstime_labels: ('Path', 'Time(s)', 'TUser(s)', 'TSolver(s)',
                  'Tcex(s)', 'Tfork(s)', 'TResolve(s)')

More_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)', 'BCov(%)', 'ICount',
                  'TSolver(%)', 'States', 'maxStates', 'Mem(MB)', 'maxMem(MB)')
Default_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)',
                  'BCov(%)', 'ICount', 'TSolver(%)')

[Help]
#Descriptions for help

Reltime: Print only values of measured times. Values are relative to the measured system execution time.
Abstime: Print only values of measured times. Absolute values (in seconds) are printed.
More:Print extra information (needed when monitoring an ongoing run).
Default: The default output configuration