[Info]
#Klee-stats information
Version: .1
#Lists must be seperated using ', '

[Input]
#Renaming of expected variables in data row
Record: I, BFull, BPart, BTot, T, St, Mem, QTot, QCon,\
        _, Treal, SCov, SUnc, _, Ts, Tcex, Tf, Tr
Stats: maxMem, avgMem, maxStates, avgStates

[Groups]
#Grouping variables for use in calculations
time: T, Ts, Tcex, Tf, Tr

[Calculation]
#Calculations based on groups, group mapping must be delimited by '-'

cov: cov = 100 * SCov / (SCov + SUnc), bcov = 100 * (2 * BFull + BPart) / (2 * BTot), icount = SCov + SUnc

Reltime: rel-time = 100 * time / Treal
All: @cov, @reltime
More: @cov, @reltime

[Output]
#Formatting of output
All: (I, Treal, cov, bcov, icount,
               rel_Ts, St, maxStates, avgStates,
               Mem, maxMem, avgMem, QTot, AvgQC,
               rel_Tcex, rel_Tf)

Reltime: (Treal, rel_T, rel_Ts, rel_Tcex, rel_Tf, rel_Tr)

Abstime: (Treal, T, Ts, Tcex, Tf, Tr)

More: (I, Treal, cov, bcov, icount,
               rel_Ts, St, maxStates, Mem, maxMem)

[Labels]
#Labels for corresponding output row
All_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)', 'BCov(%)', 'ICount',
                  'TSolver(%)', 'States', 'maxStates', 'avgStates', 'Mem(MB)',
                  'maxMem(MB)', 'avgMem(MB)', 'Queries', 'AvgQC', 'Tcex(%)',
                  'Tfork(%)')

Reltime_labels: ('Path', 'Time(s)', 'TUser(%)', 'TSolver(%)',
                  'Tcex(%)', 'Tfork(%)', 'TResolve(%)')

Abstime_labels: ('Path', 'Time(s)', 'TUser(s)', 'TSolver(s)',
                  'Tcex(s)', 'Tfork(s)', 'TResolve(s)')

More_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)', 'BCov(%)', 'ICount',
                  'TSolver(%)', 'States', 'maxStates', 'Mem(MB)', 'maxMem(MB)')

[Help]
#Descriptions for help
All: Print all available information.
Reltime: Print only values of measured times. Values are relative to the measured system execution time.
Abstime: Print only values of measured times. Absolute values (in seconds) are printed.
More:Print extra information (needed when monitoring an ongoing run).