[Info]
#Klee-stats information
Version: .1
#Lists must be seperated using ', '

[Input]
#Renaming of expected variables in data row
Record: I, BFull, BPart, BTot, T, St, Mem, QTot, QCon,\
        _, Treal, SCov, SUnc, _, Ts, Tcex, Tf, Tr
Stats: maxMem, avgMem, maxStates, avgStates

[Groups]
#Grouping variables for use in calculations
time: T, Ts, Tcex, Tf, Tr

[Calculation]
#Calculations based on groups, group assign must be after first '_'
#TODO: Change to groups surrounded by '-' which change to '_' ex rel-time-a_b_c -> rel_T_a_b_c

Reltime: rel_time = 100 * time / Treal, testvar = 199*Treal

[Output]
#Formatting of output
All: (I, Treal, 100 * SCov / (SCov + SUnc),
               100 * (2 * BFull + BPart) / (2 * BTot), SCov + SUnc,
               100 * Ts / Treal, St, maxStates, avgStates,
               Mem, maxMem, avgMem, QTot, AvgQC,
               100 * Tcex / Treal, 100 * Tf / Treal)

Reltime: (Treal, rel_T, rel_Ts, rel_Tcex, rel_Tf, rel_Tr)

Abstime: (Treal, T, Ts, Tcex, Tf, Tr)

More: (I, Treal, 100 * SCov / (SCov + SUnc),
               100 * (2 * BFull + BPart) / (2 * BTot),
               SCov + SUnc, 100 * Ts / Treal,
               St, maxStates, Mem, maxMem)

[Labels]
#Labels for corresponding output row
All_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)', 'BCov(%)', 'ICount',
                  'TSolver(%)', 'States', 'maxStates', 'avgStates', 'Mem(MB)',
                  'maxMem(MB)', 'avgMem(MB)', 'Queries', 'AvgQC', 'Tcex(%)',
                  'Tfork(%)')

Reltime_labels: ('Path', 'Time(s)', 'TUser(%)', 'TSolver(%)',
                  'Tcex(%)', 'Tfork(%)', 'TResolve(%)')

Abstime_labels: ('Path', 'Time(s)', 'TUser(s)', 'TSolver(s)',
                  'Tcex(s)', 'Tfork(s)', 'TResolve(s)')

More_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)', 'BCov(%)', 'ICount',
                  'TSolver(%)', 'States', 'maxStates', 'Mem(MB)', 'maxMem(MB)')
