[Info]
Version: .1

[Input]  
Record: I, BFull, BPart, BTot, T, St, Mem, QTot, QCon,\
        _, Treal, SCov, SUnc, _, Ts, Tcex, Tf, Tr
Stats: maxMem, avgMem, maxStates, avgStates

[Labels]
Reltime_labels: ('Path', 'Time(s)', 'TUser(%)', 'TSolver(%)',
                  'Tcex(%)', 'Tfork(%)', 'TResolve(%)')

[Groups]  
time: T, Ts, Tcex, Tf, Tr

[Calculations]  
Reltime: rel-time = 100 * time / Treal

[Output]  
Reltime: (Treal, rel_T, rel_Ts, rel_Tcex, rel_Tf, rel_Tr)

[Help]  
Reltime: Print only values of measured times. Values are relative to the measured system execution time.