[Info]
#Klee-stats Information

#Not a real new version, only being used for testing purposes currently
#Version corresponds to klee output version
Version: 2

[Input]
Record: I, BFull, BPart, BTot, T, St, Mem, QTot, QCon,\
        _, Treal, SCov, SUnc, _, Ts, Tcex, Tf, Tr
Stats: maxMem, avgMem, maxStates, avgStates

[Groups]
time: T, Ts, Tcex, Tf, Tr

[Calculations]
#Default pre calculations
pre: Mem = Mem / 1024 / 1024, AvgQC = int(QCon / max(1,QTot))

cov: cov = 100 * SCov / (SCov + SUnc), bcov = 100 * (2 * BFull + BPart) / (2 * BTot), icount = SCov + SUnc

Relabstime: @pre, rel-time = 100 * time / Treal
Default: @pre, @cov, @relabstime

[Aggregates]
#Default aggregates
mem: memValues = getColumnValues("Mem",records), maxMem = max(memValues) / 1024 / 1024, avgMem = sum(memValues) / len(memValues) / 1024 / 1024

state: stateValues = getColumnValues("St",records), maxStates = max(stateValues), avgStates = sum(stateValues) / len(stateValues)

#Used during calculations section, output tuple of aggregate section
Stats: maxMem, avgMem, maxStates, avgStates


[Output]

Relabstime: (Treal, rel_T, T, rel_Ts, Ts, rel_Tcex, Tcex, rel_Tf, Tf, rel_Tr, Tr)
Default: (I, Treal, cov, bcov, icount, rel_Ts)

[Labels]

Relabstime_labels: ('Path', 'Time(s)', "Rel TUser(%)", 'TUser(%)', "Rel TSolver(%)", 'TSolver(%)',
                  "Rel Tcex(%)", 'Tcex(%)', "Rel Tfork(%)", 'Tfork(%)', "Rel TResolve(%)", 'TResolve(%)')

Default_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)',
                  'BCov(%)', 'ICount', 'TSolver(%)')

[Help]

Relabstime: Print relative and abs values side by side
Default: The default output configuration
