# Bad Config file, divide by zero in 'cov'
[Info]
Version: 1

[Input]
Record: I, BFull, BPart, BTot, T, St, Mem, QTot, QCon,\
        _, Treal, SCov, SUnc, _, Ts, Tcex, Tf, Tr

[Groups]
time: T, Ts, Tcex, Tf, Tr

[Calculations]
cov: cov = 100 * SCov / 0, bcov = 100 * (2 * BFull + BPart) / (2 * BTot), icount = SCov + SUnc

test: rel@time = 100 * time / Treal
Default: >cov, >test

[Output]
test: (Treal, rel@T, rel@Ts, rel@Tcex, rel@Tf, rel@Tr)
Default: (I, Treal, cov, bcov, icount, rel@Ts)

[Labels]
test_labels: ('Path', 'Time(s)', 'TUser(%)',  'TSolver(%)', 'Tcex(%)',  'Tfork(%)', 'TResolve(%)')

Default_labels: ('Path', 'Instrs', 'Time(s)', 'ICov(%)',
                  'BCov(%)', 'ICount', 'TSolver(%)')

[Help]
test: Print relative times
Default: The default output configuration
